.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    border-radius:25px;
}

.product > img{
    max-height: 200px;
     width: 100%;
    object-fit: contain;
    margin-bottom: 15px; 
}

.product__price{
    margin-top: 5px;

}
.product__rating{
    display: flex;
}

.product__info{
    height: 100px;
    margin-bottom: 15px;
}

.product > button{
    background: #f0c14b;
    background: #78c4d4;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

  /* .button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn__addto_text{
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
} */
/* .btn__addto_text : hover{
 background-color: #008CBA;
  color: white;
}  */

/* .square_btn{
    display: inline-block;
    padding: 7px 20px;
	border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
}

.square_btn:hover {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
} */
